@font-face {
  font-family: 'Stapel';
  src: url("../../font/Stapel-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stapel';
  src: url("../../font/Stapel-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Stapel', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
  margin: 0;
  padding: 0;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, textarea, button {
  border: none;
  outline: none;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1250px;
}

.whatsapp {
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  background: #0005;
  cursor: pointer;
  bottom: 30px;
  right: 25px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  z-index: 99;
}

.whatsapp svg {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.whatsapp:hover {
  background: #0009;
}

.whatsapp:hover svg {
  fill: greenyellow;
}

.wrapper {
  width: 100%;
  height: auto;
  background-image: url("../../img/wrapper.jpg");
  background-position: center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 220px;
}

.wrapper .nav {
  padding: 15px;
  background-color: #0004;
}

.wrapper .nav-lang {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 12px;
}

.wrapper .nav-lang:hover {
  background: #0009;
}

.wrapper .nav-menu-burger {
  width: 65px;
  height: 15px;
  cursor: pointer;
}

.wrapper .nav-menu-burger__list {
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.wrapper .nav-menu-burger:hover .nav-menu-burger__list {
  width: 65%;
}

.wrapper .nav-line {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.wrapper .nav .showLine {
  width: 100%;
}

.wrapper__title {
  font-size: 58px;
  line-height: 68px;
}

.wrapper__title1 {
  padding-left: 120px;
}

.wrapper__title3 {
  padding-right: 200px;
}

.wrapper__text1::first-letter {
  padding-left: 80px;
}

.wrapper-slider {
  margin-top: 120px;
}

.wrapper-slider-left {
  height: 670px;
}

.wrapper-slider-left-bg {
  width: 300%;
  height: 100%;
  top: 0;
  right: -12px;
  background-color: #20232a;
}

.wrapper-slider-left-btns {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 5;
}

.wrapper-slider-left-btns button {
  background: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #fff;
  width: 140px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
}

.wrapper-slider-left-btns button:last-child {
  margin-left: 25px;
}

.wrapper-slider-right-box {
  width: 100%;
  height: 200px;
}

.wrapper-slider-right-box-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: #fff;
}

.wrapper-slider-right .arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
}

.wrapper-slider-right .arrow1 {
  left: 52%;
}

.wrapper-slider-right .arrow2 {
  left: 72%;
}

.wrapper-slider .slider-item {
  position: relative;
  z-index: 5;
}

.wrapper-slider .slider-item__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 150px;
}

.wrapper-slider .slider-item__num {
  font-size: 250px;
  font-weight: 700;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #353a46;
  -webkit-text-fill-color: transparent;
}

.wrapper-slider .slider-item__text {
  font-size: 20px;
}

.wrapper .menu-item {
  width: 100%;
  height: 100vh;
  background-color: #20232a;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  overflow-y: scroll;
}

.wrapper .menu-item::-webkit-scrollbar {
  width: 0px !important;
}

.wrapper .menu-item__link {
  font-size: 28px;
}

.wrapper .menu-item .nav {
  position: relative;
  background: transparent;
}

.wrapper .menu-item .nav::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
}

.wrapper .menu-item .nav-lang_menu {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 12px;
}

.wrapper .menu-item .nav-lang_menu:hover {
  background: #0009;
}

.wrapper .menu-item .close-menu {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.wrapper .menu-item .close-menu__list {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .menu-item .close-menu__list:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 10px;
}

.wrapper .menu-item .close-menu__list:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10px;
}

.wrapper .menu-item .to-order__btn,
.wrapper .menu-item .submit__btn {
  padding: 5px 15px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin-top: 30px;
}

.wrapper .menu-item .to-order__btn {
  margin-bottom: 100px;
}

.wrapper .menu-item-icons .icon {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid grey;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.wrapper .menu-item .menu-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.wrapper .menu-item__text {
  color: gray;
  font-size: 10px;
}

.wrapper .showMenu {
  right: 0;
}

.reliability,
.stability2 {
  background-color: #fff;
}

.reliability-left,
.stability2-left {
  width: 40%;
}

.reliability-left-video,
.stability2-left-video {
  width: 100%;
  height: 450px;
}

.reliability-left-item,
.stability2-left-item {
  height: 200px;
}

.reliability-right,
.stability2-right {
  width: 0;
  height: 0;
  background-color: #ff5a00;
  overflow: hidden;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.reliability-right__title1,
.stability2-right__title1 {
  font-size: 150px;
  font-weight: 700;
  line-height: 150px;
}

.reliability-right__title2,
.stability2-right__title2 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.reliability-right__title3,
.stability2-right__title3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.reliability-right__text,
.stability2-right__text {
  font-size: 18px;
  margin-top: 50px;
}

.reliability-right-sub,
.stability2-right-sub {
  margin-top: 120px;
}

.reliability-right-sub__text,
.stability2-right-sub__text {
  font-size: 14px;
}

.reliability-right-sub__img,
.stability2-right-sub__img {
  width: 90px;
}

.reliability-right-sub__btn,
.stability2-right-sub__btn {
  width: auto;
  height: auto;
  padding: 5px 15px;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.reliability .showReliability,
.stability2 .showReliability {
  width: 60%;
  height: 650px;
}

.stability2-right {
  background: #e30613;
}

.stability2-right-sub__img {
  width: 60px;
}

.stability2 .showStability2 {
  width: 60%;
  height: 650px;
}

.stability,
.completed-projects {
  background-color: #fff;
}

.stability-right,
.completed-projects-right {
  width: 40%;
}

.stability-right-video,
.completed-projects-right-video {
  width: 100%;
  height: 450px;
}

.stability-right-item,
.completed-projects-right-item {
  height: 200px;
}

.stability-left,
.completed-projects-left {
  width: 0;
  height: 0;
  background-color: #004f92;
  overflow: hidden;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.stability-left__title1,
.completed-projects-left__title1 {
  font-size: 150px;
  font-weight: 700;
  line-height: 150px;
}

.stability-left__title2,
.completed-projects-left__title2 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.stability-left__title3,
.completed-projects-left__title3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.stability-left__text,
.completed-projects-left__text {
  font-size: 18px;
  margin-top: 50px;
}

.stability-left-sub,
.completed-projects-left-sub {
  margin-top: 120px;
}

.stability-left-sub__text,
.completed-projects-left-sub__text {
  font-size: 14px;
}

.stability-left-sub__img,
.completed-projects-left-sub__img {
  width: 130px;
}

.stability-left-sub__btn,
.completed-projects-left-sub__btn {
  width: auto;
  height: auto;
  padding: 5px 15px;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.stability .showStability,
.completed-projects .showStability {
  width: 60%;
  height: 650px;
}

.completed-projects-left {
  background-color: #20222b;
  padding-top: 100px;
}

.completed-projects-left__title {
  font-size: 150px;
  font-weight: 700;
  line-height: 150px;
}

.completed-projects-left__title2, .completed-projects-left__title3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.completed-projects-left-arrow {
  margin-top: 200px;
}

.completed-projects-right__btn {
  width: auto;
  height: auto;
  padding: 5px 15px;
  border: 1px solid #20232a;
  color: #20232a;
  background: transparent;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.completed-projects .showCompletedProjects {
  width: 60%;
  height: 650px;
}

.main-item {
  width: 25%;
}

.main-item-big {
  width: 50%;
}

.main-item-big .main-list {
  width: 50%;
}

.main-list {
  height: 300px;
}

.main-list-info {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.main-list-info__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: 100% 100%;
     object-fit: 100% 100%;
}

.main-list-info-box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  bottom: -100%;
  left: 0;
  padding: 20px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  z-index: 2;
}

.main-list-info-box__text {
  font-size: 13px;
}

.main-list-text {
  height: 150px;
  padding: 20px;
}

.main-list:hover .main-list-info-box {
  bottom: 0;
}

.main .big-list {
  height: 450px;
}

.main .big-list-info {
  height: 300px;
}

.main .main-list-big {
  width: 100%;
  height: 450px;
}

.main .main-list-big .main-list-info {
  height: 300px;
}

.main .main-list-big .main-list-info .main-list-info-box__text {
  width: 50%;
}

.slick-dots {
  position: absolute;
  bottom: -130px !important;
  left: 50px;
}

.slick-dots li {
  width: 40px !important;
  height: 40px !important;
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
  border: 1px solid #bdc3c7 !important;
  position: relative;
}

.slick-dots li:not(:last-child) {
  margin-right: 40px;
}

.slick-dots li:not(:last-child)::after {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 600;
  content: '\f105';
  position: absolute;
  left: 55px;
  bottom: 5px;
  color: #bdc3c7;
  font-size: 20px;
}

.slick-dots li:first-child::before {
  content: '01';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
}

.slick-dots li:nth-child(2)::before {
  content: '02';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
}

.slick-dots li:last-child::before {
  content: '03';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
}

.slick-dots li.slick-active {
  border: 1px solid #20232a !important;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1700px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding-top: 150px;
  }
  .wrapper .nav-menu-burger {
    width: 55px;
  }
  .wrapper .nav-line {
    width: 100%;
  }
  .wrapper__title {
    font-size: 40px;
    line-height: 48px;
  }
  .wrapper__title1 {
    padding-left: 50px;
  }
  .wrapper__title3 {
    padding-right: 100px;
  }
  .wrapper__text {
    font-size: 14px;
  }
  .wrapper-slider {
    margin-top: 120px;
  }
  .wrapper-slider-left {
    height: 670px;
  }
  .wrapper-slider-left-bg {
    width: 150%;
    height: 100%;
    top: 0;
    right: -12px;
    background-color: #20232a;
  }
  .wrapper-slider-left-btns {
    left: 15px;
  }
  .wrapper-slider-right {
    position: absolute;
    right: -15px;
    top: 50%;
  }
  .wrapper-slider-right-box {
    width: 100%;
  }
  .wrapper-slider-right-box-bg {
    background-color: transparent;
  }
  .wrapper-slider-right .arrow {
    display: none;
  }
  .wrapper-slider .slider-item {
    position: relative;
    z-index: 5;
  }
  .wrapper-slider .slider-item__title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 150px;
  }
  .wrapper-slider .slider-item__num {
    font-size: 190px;
  }
  .wrapper-slider .slider-item__text {
    font-size: 18px;
  }
  .wrapper .menu-item__link {
    font-size: 22px;
  }
  .wrapper .menu-item .to-order__btn,
  .wrapper .menu-item .submit__btn {
    margin-top: 10px;
    font-size: 14px;
  }
  .wrapper .menu-item .to-order__btn {
    margin-bottom: 50px;
  }
  .slick-dots {
    position: absolute;
    bottom: -130px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slick-dots li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slick-dots li:not(:last-child) {
    margin-bottom: 30px !important;
  }
  .slick-dots li:not(:last-child)::after {
    content: '\f107';
    left: 12px;
    bottom: -32px;
    color: #fff;
  }
  .slick-dots li:first-child::before {
    color: #fff;
  }
  .slick-dots li:nth-child(2)::before {
    color: #fff;
  }
  .slick-dots li:last-child::before {
    color: #fff;
  }
  .slick-dots li.slick-active {
    border: 1px solid #fff !important;
  }
  .slick-dots li.slick-active::before {
    color: #fff !important;
  }
  .reliability,
  .stability2 {
    background-color: #fff;
  }
  .reliability-left,
  .stability2-left {
    width: 40%;
  }
  .reliability-left-video,
  .stability2-left-video {
    width: 100%;
    height: 450px;
  }
  .reliability-left-item,
  .stability2-left-item {
    height: 200px;
  }
  .reliability-right,
  .stability2-right {
    width: 60%;
    height: 650px;
    padding: 0 20px;
  }
  .reliability-right__title1,
  .stability2-right__title1 {
    font-size: 110px;
    line-height: 100px;
  }
  .reliability-right__title2,
  .stability2-right__title2 {
    font-size: 75px;
    line-height: 70px;
  }
  .reliability-right__title3,
  .stability2-right__title3 {
    font-size: 24px;
    line-height: 22px;
  }
  .reliability-right__text,
  .stability2-right__text {
    font-size: 16px;
    margin-top: 50px;
  }
  .reliability-right-sub,
  .stability2-right-sub {
    margin-top: 120px;
  }
  .reliability-right-sub__btn,
  .stability2-right-sub__btn {
    font-size: 16px;
  }
  .stability,
  .completed-projects {
    background-color: #fff;
  }
  .stability-right,
  .completed-projects-right {
    width: 40%;
  }
  .stability-right-video,
  .completed-projects-right-video {
    width: 100%;
    height: 450px;
  }
  .stability-right-item,
  .completed-projects-right-item {
    height: 200px;
  }
  .stability-left,
  .completed-projects-left {
    width: 60%;
    height: 650px;
    padding: 0 20px;
  }
  .stability-left__title1,
  .completed-projects-left__title1 {
    font-size: 110px;
    line-height: 100px;
  }
  .stability-left__title2,
  .completed-projects-left__title2 {
    font-size: 75px;
    line-height: 70px;
  }
  .stability-left__title3,
  .completed-projects-left__title3 {
    font-size: 24px;
    line-height: 22px;
  }
  .stability-left__text,
  .completed-projects-left__text {
    font-size: 16px;
    margin-top: 50px;
  }
  .stability-left-sub,
  .completed-projects-left-sub {
    margin-top: 120px;
  }
  .stability-left-sub__btn,
  .completed-projects-left-sub__btn {
    font-size: 16px;
  }
  .completed-projects-left {
    padding-top: 100px;
  }
  .completed-projects-left__title {
    font-size: 120px;
    line-height: 120px;
  }
  .completed-projects-left__title2, .completed-projects-left__title3 {
    font-size: 24px;
    line-height: 24px;
  }
  .main-item {
    width: 50%;
  }
  .main-item-big {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding-top: 150px;
  }
  .wrapper .nav-menu-burger {
    width: 55px;
  }
  .wrapper__title {
    font-size: 32px;
    line-height: 40px;
  }
  .wrapper__title4 {
    padding-left: 100px;
  }
  .wrapper__text1::first-letter {
    padding-left: 20px;
  }
  .wrapper-slider {
    margin-top: 80px;
  }
  .wrapper-slider-left {
    height: 670px;
  }
  .wrapper-slider-left-bg {
    width: 150%;
    height: 100%;
    top: 0;
    right: -12px;
    background-color: #20232a;
  }
  .wrapper-slider-left-btns button {
    width: 120px;
    font-size: 16px;
  }
  .wrapper-slider-left-btns button:last-child {
    margin-left: 25px;
  }
  .wrapper-slider-right {
    position: absolute;
    right: -15px;
    top: 50%;
  }
  .wrapper-slider-right-box {
    width: 100%;
  }
  .wrapper-slider-right-box-bg {
    background-color: transparent;
  }
  .wrapper-slider-right .arrow {
    display: none;
  }
  .wrapper-slider .slider-item {
    position: relative;
    z-index: 5;
  }
  .wrapper-slider .slider-item__title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 180px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
  }
  .wrapper-slider .slider-item__num {
    font-size: 180px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .wrapper-slider .slider-item__text {
    font-size: 16px;
  }
  .wrapper .menu-item__link {
    font-size: 22px;
  }
  .wrapper .menu-item ul {
    margin-bottom: 25px;
  }
  .wrapper .menu-item .to-order__btn,
  .wrapper .menu-item .submit__btn {
    margin-top: 0;
    font-size: 14px;
  }
  .wrapper .menu-item .to-order__btn {
    margin-bottom: 0;
  }
  .reliability,
  .stability2 {
    background-color: #fff;
  }
  .reliability-left-video,
  .stability2-left-video {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 450px;
  }
  .reliability-left-item,
  .stability2-left-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 200px;
    padding-left: 50px;
  }
  .reliability-right,
  .stability2-right {
    width: 90%;
    height: 1300px;
    padding: 0 20px;
    padding-top: 250px;
  }
  .reliability-right__title1,
  .stability2-right__title1 {
    font-size: 120px;
    line-height: 110px;
  }
  .reliability-right__title2,
  .stability2-right__title2 {
    font-size: 80px;
    line-height: 70px;
  }
  .reliability-right__title3,
  .stability2-right__title3 {
    font-size: 26px;
    line-height: 24px;
  }
  .reliability-right__text,
  .stability2-right__text {
    font-size: 16px;
    margin-top: 50px;
  }
  .reliability-right-sub,
  .stability2-right-sub {
    margin-top: 70px;
  }
  .reliability-right-sub__btn,
  .stability2-right-sub__btn {
    font-size: 16px;
  }
  .stability,
  .completed-projects {
    background-color: #fff;
  }
  .stability-right-video,
  .completed-projects-right-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 450px;
  }
  .stability-right-item,
  .completed-projects-right-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    height: 200px;
    padding-right: 50px;
  }
  .stability-left,
  .completed-projects-left {
    width: 90%;
    height: 1300px;
    padding: 0 20px;
    padding-top: 250px;
  }
  .stability-left__title1,
  .completed-projects-left__title1 {
    font-size: 120px;
    line-height: 110px;
  }
  .stability-left__title2,
  .completed-projects-left__title2 {
    font-size: 80px;
    line-height: 70px;
  }
  .stability-left__title3,
  .completed-projects-left__title3 {
    font-size: 26px;
    line-height: 24px;
  }
  .stability-left__text,
  .completed-projects-left__text {
    font-size: 16px;
    margin-top: 50px;
  }
  .stability-left-sub,
  .completed-projects-left-sub {
    margin-top: 70px;
  }
  .stability-left-sub__btn,
  .completed-projects-left-sub__btn {
    font-size: 16px;
  }
  .completed-projects-left {
    height: 1100px;
    padding-top: 250px;
  }
  .completed-projects-left__title {
    font-size: 100px;
    line-height: 100px;
  }
  .completed-projects-left__title2, .completed-projects-left__title3 {
    font-size: 24px;
    line-height: 24px;
  }
  .completed-projects-left-arrow {
    margin-top: 120px;
  }
  .main-list-info-box {
    padding: 5px;
  }
  .main-list-info-box__text {
    font-size: 10px;
  }
  .main-list-text {
    padding: 10px 25px;
  }
  .main-list-big {
    height: 350px !important;
  }
  .main-list-big .main-list-info {
    height: 200px !important;
  }
  .main-list-big .main-list-info .main-list-info-box__text {
    width: 50%;
  }
}

@media (max-width: 420px) {
  .wrapper-slider-right {
    right: -5px;
  }
}
